@{
    ViewData["Title"] = "About Bay Area Activities";
}
<h2 id="about_title">@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p class="about_description">It's a beautiful day outside and you want to go out and explore, but you encounter a problem: what to do and where to even start?! Well you have just found the solution! Visit our <a asp-area="" asp-controller="Home" asp-action="Index">Home</a> page to get started!</p>
