@{
    ViewData["Title"] = "Contact us at";
}
<h2>@ViewData["Title"]:</h2>
<!--<h3>@ViewData["Message"]</h3>-->

<address>
    The best place on earth.<br />
    SF Bay Area!<br />

</address>

<address>
    <strong>Support:</strong> <a href="mailto:BayAreaActivitiesSupport@activities.com">BayAreaActivities@activities.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:BayAreaActivitiesMarketing@activities.com">BayAreaActivitiesMarketing@activities.com</a>
</address>
