@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active" id="sf_carousel">
            <img src="~/images/San_Francisco.jpg" alt="ASP.NET" class="img-responsive"/>
            <div class="carousel-caption" role="option">
                <p class="carousel-description">
                    Explore the exciting city of San Francisco. Don't forget to check out the many other exciting things to do below.<br><br>
                    <a class="btn btn-default" href="http://www.sftravel.com/" target="_blank">
                        Explore now
                    </a>
                </p>
            </div>
        </div>
        <div class="item" id="east_bay_carousel">
            <img src="~/images/East_Bay.jpg" alt="East Bay" class="img-responsive" id="eb_image"/>
            <div class="carousel-caption" role="option">
                <p class="carousel-description">
                    Explore the other side of the bay and see what these cities have to offer <br><br>
                    <a class="btn btn-default" href="http://www.sfstation.com/calendar/east-bay" target="_blank">
                        Explore now 
                    </a>
                </p>
            </div>
        </div>
        <div class="item" id="south_bay_carousel">
            <img src="~/images/South_Bay.jpg" alt="South Bay" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p class="carousel-description">
                    Explore the southside of the bay, get some sunshine, and have a relaxing time <br><br>
                    <a class="btn btn-default" href="http://www.sfstation.com/calendar/south-bay" target="_blank">
                        Explore now
                    </a>
                </p>
            </div>
        </div>
        <div class="item" id="north_bay_carousel">
            <img src="~/images/North_Bay.jpg" alt="North Bay" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p class="carousel-description">
                    Explore the northern parts of the bay and enjoy a pairing of wine and cheese <br><br>
                    <a class="btn btn-default" href="http://www.sftourismtips.com/north-bay-wine-country-fourth-of-july-celebrations-fireworks.html" target="_blank">
                        Explore now
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>San Francisco</h2>
        <ul>
            <li><a href="http://sf.funcheap.com/" target="_blank">Free activities</a> in San Francisco</li>
            <li>Current and upcoming <a href="http://www.sfstation.com/calendar" target="_blank">events</a></li>
            <li>Top <a href="https://www.tripadvisor.com/Attractions-g60713-Activities-San_Francisco_California.html" target="_blank">must do things</a></li>
            <li>Looking for beautiful <a href="http://www.alltrails.com/us/california/san-francisco" target="_blank">hiking trails</a></li>
            <li>Looking for amazing <a href="https://www.sfbike.org/resources/maps-routes/" target="_blank">bicycle routes</a></li>
            <li>Catch some waves on the <a href="http://www.nerverush.com/top-5-places-surf-san-francisco/" target="_blank">beaches around San Francisco</a> or other popular <a href="http://www.surfing-waves.com/atlas/north_america/usa/west_coast/california/bay_area.html" target="_blank">surfing beaches</a> around the bay
        </ul>
    </div>
    <div class="col-md-3">
        <h2>East Bay</h2>
        <ul>
            <li>Things to do and must see <a href="https://www.visitoakland.org/things-to-do/events/" target="_blank">events in Oakland</a></li>
            <li>Current and upcoming <a href="http://www.visitberkeley.com/events" target="_blank">events in Berkeley</a></li>
            <li>Visit beautiful <a href="http://www.walnutcreekdowntown.com/" target="_blank">downtown Walnut Creek</a></li>
            <li>Hike our amazing <a href="http://www.eastbaytrails.com/" target="_blank">East Bay Trails</a></li>
            <li>Bike our countless <a href="https://www.trails.com/activity.aspx?area=13458#lat=37.649868935439564&lon=-122.10844635009767&zoom=12&m=roadmap" target="_blank">East Bay Bicycling Routes</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>South Bay</h2>
        <ul>
            <li>Fun and <a href="http://sf.funcheap.com/category/location/san-francisco-bay-area/south-bay/" target="_blank">free activities</a> in the South Bay</li>
            <li><a href="https://www.tripadvisor.com/Attractions-g33020-Activities-San_Jose_California.html" target="_blank">Must do things in the South Bay</a></li>
            <li>Fun things to do in <a href="https://funthingstodo.io/san-jose-ca-fun-things-to-do/" target="_blank">San Jose</a></li>
            <li>Visit the beaches and other popular attractions in <a href="http://www.santacruz.org/Things-to-do" target="_blank">Santa Cruz</a></li>
            <li>Hike our popular <a href="http://kevingong.com/Hiking/SouthBayHikes.html" target="_blank">hiking trails</a> of the South Bay</li>
            <li>Bike through our favorite <a href="http://bayarearides.com/southbay.shtml" target="_blank">bike routes</a> of the South Bay</li>
            <li>Surf at our <a href="http://www.santacruz.com/guides/santa-cruz-surfing" target="_blank">beautiful beaches</a> in the the South Bay</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>North Bay</h2>
        <ul>
            <li>Fun and <a href="http://sf.funcheap.com/category/location/san-francisco-bay-area/north-bay/" target="_blank">free activities</a> in the north bay</li>
            <li>Find fun <a href="http://www.bayareakidfun.com/best-of-the-bay-north-bay/" target="_blank">kid activities</a> for your family</li>
            <li>Absolute <a href="https://www.tripadvisor.com/Attractions-g155000-Activities-North_Bay_Northeastern_Ontario_Ontario.html" target="_blank">must do things</a> in the north bay </li>
            <li>Explore the finer things in life in <a href="http://www.sonomacounty.com/things-to-do" target="_blank">Sonoma County</a></li>
            <li>Have a taste of beautiful wine country at <a href="http://www.napavalley.com/thingstodo/" target="_blank">Napa Valley</a></li>
            <li>Ride our <a href="http://bayarearides.com/northbay.shtml" target="_blank">scenic bike routes</a> in the north bay</li>
        </ul>
    </div>
</div>
